.cabecera{
	height: 50px;
	width: 100%;
}
.azul{
	background: #2980b9;
}
.sidebar{
	position: absolute;
	width: 20%;
	height: 100%;
}
.negro-opaco{
    background: #2a2a2a;
}
.negro{
    background: #333;
}
.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul a{
    display: block;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.sidebar li{
    outline: 1px solid #2a2a2a;
    transition: border 0.3s;
}
.sidebar li:hover{
    background: #444;
    border-left: 5px solid #fff;
}
.contenido{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #eee;
    padding: 10px;
}